/* 
  Here you can define custom fonts for development purposes.
  Example:
  @font-face {
    font-family: 'ExampleFont';
    src: url('/fonts/ExampleFont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
*/
